:root {
    --blue: #3580FC;
    --orange:#ffa726;
    --black: #000;
    --dark:#2F2F2F;
    --white: #fff;
    --bg: #432B5A;
    --bg-dark:#322043;
    }
    
    body {
        margin: 0;
        font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--dark);
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal;
        background-color: var(--white);
        padding: 0;
        box-sizing: border-box;
        background-color: #fff;
    }
    /* HEADER */
    .um-header {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding: 10px 40px;
        box-sizing: border-box;
    }
    .um-header a {
        color: #000;
        text-decoration: none;
    }
    .um-logo {
        display: inline-block;
        background: url(images/logo.png) no-repeat 0 0;
        width: 108px;
        height: 84px;
        vertical-align: middle;
        cursor: pointer;
    }
    .um-logo-text {
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-left: 20px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .um-header a:hover .um-logo-text {
        color: var(--blue);
    }
    @media (max-width: 1024px){
        .mobile-wrap {
            flex-wrap: wrap;
        }
        .mobile-column {
            flex-direction: column;
        }
        .reverse {
            flex-direction: column-reverse;
        }
        .um-text-top {
            justify-content: center;
        }
    }
    @media (max-width: 1024px) {
        body {
            background-color: var(--bg);
        }
        .um-header {
            padding: 20px 10%;
            box-sizing: border-box;
            background-color: var(--bg-dark);
        } 
        .um-logo {
            background-size: contain;
            width: 108px;
            height: 84px;
        }
        .um-logo-text {
            font-size: 2rem;
            flex: 1;
            text-align: center;
            margin-left: -13%;
        }
        .um-header a {color: #fff;}
        .um-block_desc {
            max-width: 320px;
            text-align: center;
            margin: 0 auto;
        }
    }
    /* END HEADER */
    .um-hero {
        padding-top: 40px;
        background-color: var(--bg);
        box-sizing: border-box;
    }
    .um-hero .um-block_desc {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    
    .um-hero .um-appstore {
        margin: 10px 0 20px 0 ;
    }
    .um-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .um-block {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }
    .um-block .msb-img {
        background: url(images/babygame.png) no-repeat 0 0;
        background-size: contain;
        width: 490px;
        height: 575px;
    }
    .um-block .cc-img {
        background: url(images/im2.png) no-repeat center center;
        background-size: contain;
        min-width: 370px;
        height: 507px;
        margin-left: 10%;
        width: 50%;
    }
    .um-block_desc-subtitle {
        color: var(--orange);
        font-family: "Poppins", Sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 5px;
    }
    .um-block_desc {
        max-width: 600px;
    }
    .um-block_desc-title {
        color: var(--black);
        font-family: "Poppins", Sans-serif;
        font-size: 46px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .um-block_desc-title.center-title {
        max-width: 400px;
        text-align: center;
        margin: 100px 0;
    }
    .um-block_desc-title.white{color: var(--white);}
    
    .um-block_desc-text {
        margin-bottom: 40px;
    }
    .um-appstore {
        margin: 0 30px 0 0 ;
        padding: 0;
    }
    .um-appstore a {
        display: block;
        background: url(images/appstore.svg) no-repeat 0 0;
        background-size: contain;
        width: 180px;
        height: 60px;
        cursor: pointer;
    }
    .um-rating span{
        font-weight: 500;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .um-rating.white {
        color: var(--white);
        margin-bottom: 20px;
    }
    .um-icon {
        display: inline-block;
        background: url(images/star.svg) no-repeat 0 0;
        background-size: contain;
        width: 144px;
        height: 24px;
        vertical-align: middle;
        margin-top: -3px;
    }
    .um-footer {
        background-color: var(--bg-dark);
        padding: 24px 0;
        text-align: center;
        color: var(--white);
        margin-top: 100px;
        box-sizing: border-box;
    }
    
    
    @media (max-width: 1024px) {
        .mobile-hide {
            display: none !important;
        }
        .um-hero {
            padding-top: 40px;
            box-sizing: border-box;
        }
        .um-hero .um-block_desc {
            max-width: 100%;
            text-align: center;
        }
        .um-block {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
        .um-block .cc-img {
            width: 370px;
            height: 507px;
            margin-left: 0;
        }
        .um-block_desc-subtitle {
            color: var(--orange);
            font-family: "Poppins", Sans-serif;
            font-size: 4rem;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 5px;
        }
        .um-block_desc {
            max-width: 100%;
        }
        .um-block_desc-title {
            font-size: 8rem;
        }
        .um-block_desc-title.center-title {
            max-width: 70%;
            margin: 50px 0;
        }
        .um-block_desc-title.white{color: var(--white);}
        
        .um-block_desc-text {
            margin-bottom: 20px;
        }

        .um-rating.white {
            color: var(--white);
            margin-bottom: 20px;
            font-size: 2rem;
        }
        .um-rating.white {
            color: var(--white);
            margin-bottom: 20px;
        }
        .um-rating.white .um-icon {
            width: 288px;
            height: 48px;
            margin-right: 20px;
            margin-top: -7px;
        }
        .um-block .msb-img {
            background: url(images/babygame.png) no-repeat top center;
            background-size: contain;
            width: 100%;
            height: 49vh;
        } 
        .um-hero .um-appstore {
            margin: 50px 0 50px 0;
        }
        .um-appstore a {
            display: block;
            background: url(images/appstore.svg) no-repeat 0 0;
            background-size: contain;
            width: 540px;
            height: 180px;
            cursor: pointer;
        }
        .um-rating span{
            padding-left: 0;
        }
        .um-rating {
            margin-bottom: 20px;
        }
        .um-footer {
            padding: 30px 0;
            margin: 0;
            font-size: 2rem;
        }
    }
    .flex-layout {display: flex;}
    .align-items-center {align-items: center;}
    
    
    
    